{% extends 'base.html' %}
{% block content %}
<h1>{{ module }} {% if description %} - {{ description }} {% endif %}</h1>

<div class="accordion accordian-flush" id="moduleAccordian">
    {% for name, dictionary in functions.items() %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{name[1:]}}" aria-expanded="false"
                aria-controls="{{name[1:]}}">
                {{name}}
            </button>
        </h2>
        <div id="{{name[1:]}}" class="accordion-collapse collapse" data-bs-parent="#moduleAccordian">
            <div class="accordion-body">
                <a href="{{ url_for('view_function', module=dictionary['module'], function=name) }}">View Function</a>
                <br>
                {% if dictionary['detailed_description'] == "" %}
                <strong>{{ dictionary["description"] }}</strong>
                {% else %}
                <strong>{{ dictionary["detailed_description"] }}</strong>
                {% endif %}
                <br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}