{% extends 'base.html' %}
{% block content %}

<div id="header">
    <h1>{{ snippet['title'] }} </h1>
    <button id="edit-snippet-button" class="btn btn-primary" type="button" data-bs-toggle="modal"
        data-bs-target="#edit_snippet_modal">Edit</button>
</div>
<div class="card">
    <div>
        {{snippet["body"]|safe}}
    </div>
</div>

<div class="modal fade" id="edit_snippet_modal" data-bs-focus="false" tabindex="-1" role="dialog"
    aria-labelledby="snippetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="snippetModalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <section class="create-user-form container">
                    <form method="post" action="{{ url_for('edit_snippet', snippet_sequence=snippet['sequence'])}}">
                        <div class="form-group">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="snippet_title" class="col-form-label">Title:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" class="form-control" name="snippet_title" id="snippet_title"
                                        value="{{snippet['title']}}" required>
                                </div>
                            </div>
                            <br>
                            <textarea style="width: 440px;" class="from-control" id="snippet_body" name="snippet_body"
                                rows=20>{{snippet["body"]}}</textarea>
                </section>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
                <form action="{{ url_for('delete_snippet', snippet_sequence=snippet['sequence'])}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this snippet?')">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js"
    integrity="sha512-SJh7xW/9SLzllt0PqjnYlomfUPi7UYF40TXU5m6kVXLFr1hdKe+L8Tqqoi1y9vlsMQBdGC2lZI0d6w04Nn6piQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    tinymce.init({
        selector: "textarea[id=snippet_body]",
        height: 300,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link charmap preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars fullscreen',
            'nonbreaking contextmenu directionality codesample',
            'paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview | forecolor backcolor codesample | fullscreen',
        paste_data_images: true
    });
</script>

{% endblock %}